[submodule "account"]
	path = account
	url = https://github.com/ustari28/test-modules-project.git
[submodule "bill"]
	path = bill
	url = https://github.com/ustari28/demo-bill.git
[submodule "jfrog"]
	path = jfrog
	url = https://github.com/ustari28/demo-jfrog.git
